/* 样式重置 */
* {
    padding: 0;
    margin: 0;
}

html, body {
    /* 如果一个元素没有设置position属性或者position属性为static，
    元素的宽高百分比是相对于父元素的宽高的，​
    如果父元素没有设置大小的话，
    ​则被自己的内容撑开 ，
    即百分比毫无意义 */
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #DB4D6D;
    display: flex;
    /* 沿着主轴（默认水平）的对齐方式 */
    justify-content: center;
    /* flex-direction:column;可以改变主轴由水平为垂直 */
    /* 沿着交叉轴的对齐方式 */
    align-items: center;
}
.text {
    text-align: center;
}
.text h2{
    margin-right: 50px;
    font-size: 40px;
}
.text h3 {
    opacity: 0.5;
}
.monster {
    width: 110px;
    height: 100px;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    /* flex-wrap: wrap;
    默认nowrap不进行换行但是会压缩子元素 
    wrap表示希望保留子元素原本大小，超出换行*/
    justify-content: center;
    flex-direction: column;
    /* 设置主轴方向 */
    align-items: center;
    position: relative;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    /* 水平偏移 垂直偏移 模糊半径 （扩展半径） 颜色 */
    animation: jumping 0.8s infinite alternate;
    /* 动画2. 动画应用 执行时间 是否循环 贝塞尔曲线 */
}
/* 动画1. 关键帧设置 */
@keyframes jumping {
    50% {
        top: 0px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    }
    100% {
        top: -50px;
        box-shadow: 0px 120px 50px rgba(0, 0, 0, 0.2);
    }
}
.monster.blue {
    /* 动画延迟 */
    animation-delay: 0.5s;
}
.pink {
    background-color: #e55A54;
}
.blue {
    background-color: #0C4475;
}
.eye {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    /* position: relative; */
    /* justify-items: center; */
    align-items: center;
    
}
@keyframes eyemove {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(50%);
    }
}
.mouth {
    width: 32%;
    height: 12px;
    border-radius: 12px;
    margin-top: 15%;
    background-color: #fff;
}
.eyeball {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    /* position: absolute; */
    animation: eyemove 1.6s infinite alternate;
}
.pink .eye .eyeball {
    background-color: #0C4475;
}
.blue .eye .eyeball {
    background-color: #e55A54;
}
.blue .mouth {
    background-color: #e55A54;
}
.monster::before, .monster::after {
    content: "";
    width: 20%;
    height: 10px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: -10px;
}
.monster::before {
    transform: translateX(-70%) rotateZ(45deg);
}
.monster::after {
    transform: translateX(-30%) rotateZ(-45deg);
}

.page-loading {
    width: 100%;
    height: 100%;
    background-color: #0C4475;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s 0.5s;
}
.page-loading .loading {
    width: 200px;
    height: 8px;
    background: #fff;
    border-radius: 5px;
    margin-top: 80px;
    overflow: hidden;
}
.page-loading .loading .ball {
    width: 0px;
    height: 100%;
    background-color: #DB4D6D;
}
.page-loading.complete .monster {
    /* 监听元素变化时才触发transition属性 */
    transition: all 0.5s;
    transform: scale(0.01) rotateZ(360deg);
    /* 关键帧动画停止 */
    animation-play-state: paused;
}